@import url(http://fonts.googleapis.com/css?family=Roboto);

.fa-camera{
    font-size: 50px !important;
    color: #4c4c4c !important;
}

.fa-camera:before {
    content: "\f030";
    color: gold;
}

fa-pencil-square-o{
	font-size: 15px !important;
}

#header{
	background-color: #FFD700;
	height: 25%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 2px #372821 solid;
}

.header-title{
	color: #372821;
	font-family: "Lobster";
	display: inline;
	margin-left:10%;
    vertical-align:middle;
    position: relative;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
}

#logo{
    max-height: 80%;
    width: 6%;
	display: inline;
	margin: 10px 10px 10px 30px;
}

.logo-footer{
    max-height: 90%;
    width: 3%;
	display: inline;
	margin-left: 90%;
	margin-top:5px;
	margin-right: 5%;
}

#body-home{
	background-color: #FFD700;
}

.error_input {
    border: solid 1px #FF0000;  
}

.disabled-table, .disabled-alert{
	display: none;
}

.dropdown-menu{
	background-color:372821;
}

.menu, .menu>*{
	background-color: #372821;
}

.menu-text, .menu-text:focus, .menu-text:active, .menu-text:hover{
	color: #FFD700 !important;
	text-decoration: none !important;
	outline: none !important;
}

.pagination{
  width: 20px;
  height: 16px; 
  display: inline-block;
  background-image: url(../images/patasdadas-swiper-bullet.png);
}

.info-slide, .slide{
  width: 100%;
  height: 100%; 
  min-height: 300px;
  min-width: 300px;
}

.info-slide{
	padding-top: 0%;
	padding-left: 15%;
	padding-right:15%;
}

.slide{
	display: inline-block;
	margin-top: 5%;
}
.notification{
	text-align: center;
}

.footer {
    width: 100%;
    height: 15%;
    position: absolute;
    background: #372821;
    float: left;
    display: block;
    padding: 0 0 0 0;
}

.img-circle{
	border-radius: 50%;
}

/** Overwrite **/
.carousel-control.left, .carousel-control.right {
	background-image: none !important;
}

/** Overwrite **/
.container{
	padding-top: 1%;
	background: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Overwrite **/
.form-input{
	height:50px;
	border-radius: 0px;
	margin-top: 20px;
}

.profile-input-file{
    height:180px;
    width:180px;
    left:33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}

.bg-form{
    float:left;
    width:100%;
    position:relative;
    background: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.custom-form{
	float: left;
	width:75%;
	border-radius: 20px;
	box-shadow: 0 0 16px #fff;
	overflow: hidden;
	background: rgba(255,255,255,0.6);
}

.img-section{
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0,0,0,0.7);
    position: relative;
}

.img-section h6{
	color:#fff;
}

#picup-load{
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 9.5%;
    border-radius: 50%;
    display: none;
    top:15px;
}

#checker{
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.required:after {
  content:" *"; 
  color: red;
}

.login-body{
	background: #FFD700;
}

.login-form {
	margin-top: 60px;
}

.login-form form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.login-form	form[role=login] input{
	font-size: 18px;
	margin: 16px 0;
}

.login-form form[role=login] button{
	cursor: pointer;
}

.login-form form[role=login] > div {
	text-align: center;
}
	
.login-title {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.warning-template {
	margin-top: 15%;
	padding: 40px 15px;
	text-align: center;
}

.warning-actions {
	margin-top:15px;
	margin-bottom:15px;
}

.warning-title{
	text-align: center;
 	font-family: roboto;
 	color: #372821;
}

.btn-voltar{
	color: #FFD700 !important;
    background-color: #372821 !important;
}
