
#header{
	background-color: #FFD700;
	height: 25%;
	padding: 0px 0px 0px 0px;	
}

#header>h1{
	color: #372821;
	font-family: "Helvetica", "Verdana", Times;
	display: inline;
	margin-left:10%;
    vertical-align:middle;
    position: relative;
}

#header>img{
    max-height: 80%;
    width: 10%;
	display: inline;
	margin: 10px 10px 10px 30px;
}

#body-home{
	background-color: #FFD700;
}

.error_input {
    border: solid 1px #FF0000;  
}

.disabled-table, .disabled-alert{
	display: none;
}

.menu {
	background-color: #372821;
}


